*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
.container{
    max-width: 30rem;
    min-height: 100vh;
    margin: auto;
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}